<div class="container" style="margin-top: 10vh">
  <div class="card text-center">
    <div class="card-header">
      {{data.title}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{data.description}}</h5>
      <p class="card-text">{{data.condition}}</p>
      <a href="#" class="btn btn-primary">Buy @ Rs {{data.price}}</a>
    </div>
    <div class="card-footer text-muted">
      Seller : {{data.username}}
    </div>
  </div>
</div>