<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="card mb-3">
        <h5 class="card-header">{{ad.title}}</h5>
        <div class="card-body">
          <h5 class="card-title">&#8377; {{ad.price}} {{#if ad.negotiable}}(Negotiable){{/if}}</h5>
          <p class="card-text">{{ad.description}}</p>
          <p class="card-text">Condition: {{ad.condition}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Seller Information</h5>
          <p class="card-text mt-4">
            <span class="oi oi-person mr-2"></span> {{ad.user.name}}
          </p>
          <p class="card-text">
            <span class="oi oi-envelope-closed mr-2"></span> {{ad.user.email}}
          </p>
          <p class="card-text">
            <u>{{ad.user.institute.name}}</u>
            <br>{{ad.user.institute.address}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center go-back">
    <a href="javascript:history.back()" class="btn cool-btn text-uppercase">go back</a>
  </div>
</div>